<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <link href="http://oj3eoe0eo.bkt.clouddn.com/bootstrap.min.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 search">
                <p class="search-title">快递单号查询</p>
                <div class="search-con search-select ">
                    <input type="text" name="selectid" value="请选择快递公司" id="selectid" class="ser-txt">
                    <a href="###" class="btn-search" id="select-btn"><img src="Epress-down.png" alt=""></a>
                </div>
                <!--快递公司选项部分开始-->
                <div id="company">
                    <ul>
                        <li v-for="item in items" v-on:click="toggle($index)">{{item.expName}}</li>
                    </ul>
                </div>
                <!--快递公司选项部分结束-->
                <div class="search-con">
                    <input type="text" name="postid" value="请输入快递单号" id="postid" class="ser-txt">
                    <a href="###" class="btn-search">查询</a>
                </div>

            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 queryContext" id="app">
                <p>查询结果:</p>
                <ul v-for="item in items">
                    <li>
                        <span>{{item.time}}</span> <br>
                        <span>{{item.context}}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script src="http://oj3eoe0eo.bkt.clouddn.com/jquery-1.9.1.js"></script>
    <script src="http://oj3eoe0eo.bkt.clouddn.com/bootstrap.min.js"></script>
    <script src="http://oj3eoe0eo.bkt.clouddn.com/vue.min.js"></script>
    <script src="js/index.js"></script>
</body>

</html>